@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  outline: 0;  
  color: #010208;  
  font-family: 'Roboto';
}
html{
  scroll-behavior: smooth; 
}
/*Header*/
header{
  width: 100%;
  height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Logo */
.header-logo{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #3333;
}
.logo{
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;
}
.nome-logo{
  font-size: min(max(22px, 2vw), 25px);
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
}
.slogan{
  font-family: 'Roboto';
  font-size: min(max(15px, 2vw), 16px);
  font-weight: 400;
  text-transform: uppercase;

}
/* Barra de pesquisa */
.barra-pesquisa{
  padding: 5px;
  gap: 5px;
  font-size: 24px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.barra-pesquisa input{
  width: 330px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #333;
  padding-left: 15px;
  font-size: 12px;
}
/* Links-user */
.user-fav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 5px;
}
.user-fav i{
  font-size: 22px;
  cursor: pointer;
}
.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  gap: 10px;
  font-weight: 300;
}
/* Botão menu-mobile */
#btn-menu{
  background-color: transparent;
  color: #010208;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  display: none;
  transition: .2s;
  cursor: pointer;
  overflow: hidden;
}
#btn-menu i{
  color: #010208;
  font-size: 22px;
}
/* Header-links-produtos */
.header-links{
  width: 100%;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 10px;
  border-bottom: 1px solid #3333;
}
.header-links a{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
  gap: 5px;
  padding: 1px;
}
.header-links a:hover{
  font-weight: 600;
}
.header-links li{
  list-style: square;  
}
/*Menu-mobile*/
.menu-mobile{
  position: absolute;
  top: calc(18vh);
  left: 0;
  width: 100%;
  height: auto;
  visibility: hidden;
  overflow: hidden;
  transition: 0.4s;
  background-color: #f1f1f1;
}
.menu-mobile a{
  display: block;
  font-family: 'Poppins';
  color: #010208;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9px;
  padding: 20px 30px;
}
.menu-mobile i{
  color: #010208;
  font-size: 17px;
}
.menu-mobile a:hover{
  background-color: #3333;
  font-weight: 600;
}

/* main*/ 
.main{
  background-color: #fff;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
}
.info-main{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
  overflow: hidden;
}
.title-outono{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;  
}
.txt-title{
  font-size: min(max(22px, 3vw), 1.5rem);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: inherit;
  font-weight: 400;
}
.title-outono24{
  font-size: min(max(3rem, 5vw), 5rem);
  font-family: 'Roboto';
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fca311;
}
.info-venda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding: 10px 30px;
}
.txt-frete{
  font-size: min(max(12px, 2vw), 15px);
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.linha1-main{
  width: 20%;
  border-bottom: 1px solid #fca311;
}
.linha2-main{
  width: 40%;
  border-bottom: 1px solid #fca311;
}
.linha3-main{
  width: 70%;
  border-bottom: 1px solid #fca311;
}
.txt-entrega{
  font-size: min(max(12px, 2vw), 15px);
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.txt-desconto{
  font-size: min(max(12px, 2vw), 15px);
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.btn-main{
  width: fit-content;
  border: 1px solid #fca311;
  background-color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  padding: 7px 20px;
}
.btn-main a{
  color: #010208;
}
.btn-main:hover{
  background-color: #fca311;
  transition: 0.5s;
}
.ft-main{
  width: 30%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.ft-model-main{
  width: 290px;
  border-radius: 51% 49% 48% 52% / 53% 53% 47% 47% ;
  background-color: #fca311;
  
}
.linha-main{
  border-bottom: 2px solid #fca311;
  width: 70%;
}

/* Section-Produto */
.section-produto{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 30px;
  gap: 1.5rem;
  flex-grow: 1;
  margin-top: 3rem;
}
.container-cards{
  width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  cursor: pointer;
}
.container-cards:hover{
  margin-top: -2vh;
}
.card-img-produto{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-produto{
  width: 298px;
  height: 380px;
  position: absolute;  
  overflow: hidden;
  object-fit: cover;
  object-position: center;  
}
.img-produto img{
  width: 100%;
  height: 100%;
}
/*Favorito coração */
.produto-favorito{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  transition: all 0.3s;
  fill: #333;  
}
.container svg:hover {
  transform: scale(1.1);
}
.container input:checked ~ svg {
  fill: #b42b2b;
}

.info-peca{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4px 10px;
  gap: 1px;
  overflow: hidden;
}

.nome-peca{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.valor-peca{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;

}
.parcela-peca{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;

}
















/* Media screen */
@media screen and (max-width: 1020px){
  /*main*/
  .main{
    gap: 2rem;
  }


}
@media screen and (max-width: 978px){
  /*main*/
  .ft-main{
    width: 40%;
  }



}

@media screen and (max-width: 899px){
  /*Barra de pesquisa*/
  .barra-pesquisa{
    width: 300px;
  }
  .barra-pesquisa input{
    width: 280px;
    font-size: 12px;
    padding: 7px;
  }
  .user-fav{
    gap: 25px;
  }
  /*main*/
  .info-main{
    width: 60%;
  }



}
@media screen and (max-width: 768px){
  /* Header e Menu-mobile */
  .header-links{
    display: none; 
  }
  .user-fav{
    display: none;
  }
  header{
    width: 100%;
  }
  .menu-mobile.abrir{
    visibility: visible;
    height: calc(100vh);
    z-index: 1;
  }
  #btn-menu{
    display: block;
  }

}

@media screen and (max-width: 600px){
    /*Barra de pesquisa*/
    .barra-pesquisa{
      width: 250px;
    }
    .barra-pesquisa input{
      width: 200px;
      font-size: 12px;
      padding: 7px;
    }

}

@media screen and (max-width: 540px){
  /*Barra de pesquisa*/
  .barra-pesquisa{
    display: none;
  }
}



  